html {
    box-sizing: border-box;
}
body {
    height: 100vh;
}

#header {
    border: 3px solid green;
    height: 20%;
}

main {
    display: flex;
    border: 3px solid orange;
    height: 80%;
    justify-content: space-evenly;
}

#left_article {
    border: 3px solid red;
    width: 45%;
}

#right_article {
    border: 3px solid blue;
    width: 45%;
}

h3 {
    border: 3px solid pink;
    height: 10%;
    margin: 0;
}

#cards_container {
    border: 3px solid yellow;
    height: 88%;
}